@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.sign_up_page {
    display: flex;
    flex-direction: column;
    background-color: #FFFfff;
    font-family: "Patrick Hand", cursive;
    width: auto;
    margin: 50px auto;
    height: 500px;
    align-items: center;
    justify-content: center;


}

.sign_up_logo_right {
    width: 100px;
    height: 80px;


}

.sign_up_container {
    display: flex;
    font-family: "Patrick Hand", cursive;
    justify-content: center;
    margin: auto;
    background-color: #FFFfff;
    border-radius: 2px;

}

.sign_up_video_and_logo_container {
    align-items: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 2px;


}

.sign_up_video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sign_up_logo_left_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.sign_up_logo_left {
    width: 80px;
    height: 60px;
}

.sign_up_logo_left_container>p {
    font-size: 50px;
    color: #00d0c7;
}

.sign_up_form_container {

    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #f5f5f5;
    padding-left: 20px;
    border-radius: 2px;


}

.sign_up_form {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 2px;



}

.sign_up_form_header {
    display: flex;
}

.sign_up_form_header>h2 {

    color: #00d0c7;

}

.sign_up_input {
    font-family: "Patrick Hand", cursive;
    height: 25px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px #9a9a9a;
    color: #9A9A9A;
    font-size: 15px;



}

.sign_up_form_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: self-start;
    margin-top: 50px;

}

.sign_up_form_body {
    display: flex;
    flex-direction: column;
}

.sign_up_form_checkbox {
    display: flex;

}

.sign_up_form_checkbox>p {
    font-size: small;
    color: #00d0c7;
}

.sign_up_form_checkbox>p:hover {
    color: #FFBB94;
}

.sign_up_button {
    background-color: #00d0c7;
    color: white;
    font-family: "Patrick Hand", cursive;
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 10px;
}

.sign_up_button:hover {
    background-color: #FFBB94;
    cursor: pointer;
}